:root {
  --Gray-1: hsl(0, 0%, 17%);
  --Gray-2: hsl(0, 0%, 58%);
}

html, * {
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
  font-size: 18px;
 
}
#map{
  height: 75vh;
  width: 100%;
  z-index: 1;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%);  font-size: 11px; text-decoration: none;}

.header {
  background-image: url(/images/pattern-bg-desktop.png);
  padding: 10px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  color: white;
  font-weight: 500;
  margin: 20px;
  text-align: center;
}

.header button {
  background-color: var(--Gray-2);
  border: none;
  width: 30px;
  height: 30px;
  padding-bottom: 3.5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--Gray-1);
}

.header button img {
  width: 5px;
  position: relative;
  bottom: 1px;
}
.input-area {
  width: 100%;
  text-align: center;
}

input {
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 12px;
  width: 100%;
  max-width: 500px;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}
input:focus {
    outline: none;  
}

.input-box{
  display: flex;
  justify-content: center;
}

.location-parent {
  position: relative;
  margin: 30px;
  width: 100%;
 
  
}

.location{
  display: flex;
  width: 80%;
  flex: 1;
  border-radius: 10px;
  gap: 20px;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 10%;
  box-sizing: border-box;
   z-index: 10;
}

hr {
  border: .1px solid var(--Gray-2);
  margin: 0 auto;
}

.location > section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--Gray-2);
  font-size: 10px;
  margin: 5px 0;
}

.result {
  font-weight: 500;
}

@media(max-width:650px){
  .header {
    background-image: url(/public/images/pattern-bg-mobile.png);
  }
  input {
    height: 40px;
  }
  .header button {
    height: 40px;
    width: 40px;
  }
  .header button img {
    width: 10px;
    bottom: 0;
    top: 2px;
  }
  .location-parent {
    margin: 15px;
    height: 10vh;
    width: 100%;
  }
  .location {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    left: 0;
    justify-content: center;
    
  }
  hr {
    display: none;
  }
  .location > section {
    align-items: center;
    text-align: center;
  }
}